<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.ualberta.appfive">

    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SearchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BookDisplayActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyBorrowingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyBiddedActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditBookActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OwnerInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyBooksActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BidsDisplayActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>
