<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.ualberta.appfive">

    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BookDisplayActivity"
            android:label="@string/title_activity_book_display"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserProfileActivity"
            android:label="@string/title_activity_user_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyBorrowingActivity"
            android:label="@string/title_activity_my_borrowing"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyBiddedActivity"
            android:label="@string/title_activity_my_bidded"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditProfileActivity"
            android:label="@string/title_activity_edit_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditBookActivity"
            android:label="@string/title_activity_edit_book"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OwnerInfoActivity"
            android:label="@string/title_activity_owner_info" />
        <activity
            android:name=".MyBooksActivity"
            android:label="@string/title_activity_my_books" />
        <activity android:name=".BidsDisplayActivity"></activity>
    </application>

</manifest>
